@charset "UTF-8";

.PicPanel {
  width: 100%;
  margin: 0;
  margin-top: -($menu-height);
  padding-top: $menu-height;
  margin-bottom: $space-height;

  &__intro {
    margin-bottom: 100px;
    font-size: 12px;
    text-align: center;
    line-height: 300%;

    span {
      color: red;
    }

  }

  &__body{
    display: flex;
    flex-direction: row;
  }

  &__body--item {
    display: block;
    height: 250px;
    width: 25%;
    background-size: cover;
    position: relative;




    img {
      display: none;
      }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    p {
      color: white;
      font-size: 40px;;
      display: block;
      font-family: 'Mplus 1p';
      font-weight: lighter;
      position: absolute;
      bottom: 5%;
    }

}

  &__body--item:hover {
    opacity: .5;
  }
}
.ibunka {
  background-image: url(../images/staff_top/ibunka_pic-02.jpg);
}
.tiiki {
  background-image: url(../images/staff_top/tiiki_pic-02.jpg);
}
.jyokomyu {
  background-image: url(../images/staff_top/jyokomyu_pic-02.jpg);
}
.gendai {
  background-image: url(../images/staff_top/gendai_pic-02.jpg);
}

.member {
  height: 45%;
  width: 35%;
}
