@charset "UTF-8";

$menu-height: 90px;
$top-image-height: 800px;
$space-height: 150px;

$color-yellow: #d8d36c;
$color-blue: #3e4997;
$color-pink: #d6767e;
$color-l-blue: #69c1d7;
$color-gray: #7f7f7f;
$color-l-gray: #f3f3f3;
$color-black: #2f2f2f;
